<div layout="column" ng-cloak class="md-inline-form">
	<md-content layout-padding>
		<md-input-container class="md-block">
			<label>Background</label>
			<textarea ng-model="submitIdeaForm.data.background" rows="5"></textarea>
		</md-input-container>
		<md-input-container class="md-block">
			<label>Why</label>
			<textarea ng-model="submitIdeaForm.data.why" rows="5"></textarea>
		</md-input-container>
		<md-input-container class="md-block">
			<label>How</label>
			<textarea ng-model="submitIdeaForm.data.how" rows="5"></textarea>
		</md-input-container>
		<md-input-container class="md-block">
			<label>What</label>
			<textarea ng-model="submitIdeaForm.data.what" rows="5"></textarea>
		</md-input-container>
	</md-content>
</div>